@use '../custom' as *;
@use '../components/mixins' as *;

.tech {
    background-color: $white;
    padding:  0 0 5rem 0;

    &__logo-box {
        max-width: 100%;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0.5rem;
        text-align: center;
        position: relative;
    }

    .tech-row {
        padding-inline: 10%;
    }

    img {
        min-width: 100px;
        max-height: 85px;

        &:hover {
            transform: scale(1.2);
            @include transitionProperty;
            filter: grayscale(110);
        }
    }

    .tech-border {
        width: 15%;
        height: 4px;
        color: $primary;
    }

}