@use "../custom" as *;
@use "../components/mixins"as *;

.btn-rounded {
  position: relative;
  padding: 0.8375rem 4.375rem 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.25rem solid rgba($white, 0.6);
  background-color: $white;
  display: block;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;

    i {
      color: $white;
      font-size: 1rem;
      line-height: 2.5rem;
    }
  }

  &:hover {
    @include gradient;
    color: $white;

    span {
      background-color: rgba($black, 0.6);
    }
  }
}

#touch-span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#back-to-top-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#email-button {
  @include media-breakpoint-down(md) {
    display: none;
  }
  display: flex;
  min-width: fit-content;
}

.email-span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-button {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
