@use "../custom" as *;
@use "../components/mixins" as *;

.about {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;

  .get-in-touch {
    text-decoration: none;
  }
}

#intro-text {
  @include media-breakpoint-down(md) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  
}

.intros {
  .video-box {
    position: relative;

    a {
      span {
        i {
          font-size: 6rem;
          color: $secondary;
        }
      }
    }
  }
}

.border-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  &--border-1 {
    animation-delay: 1s;
  }
  &--border-2 {
    animation-delay: 1.5s;
  }
}