@use "../custom" as *;
@use "../components/mixins" as *;

.menu {
  @include gradient;

  li {
    padding: 0 0.7rem;

    a {
      padding: 0 0.7rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-item {
  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }
}
  
.email-link {
  text-decoration: none;
  color: black;

}

#email-button:hover {
  .email-link {
    color: white;
  }
}