@use "../custom" as *;
@use "../components/mixins" as *;

.tech {
  background-color: $white;
  padding: 0 0 5rem 0;

  .tech-item {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    .tech-des {
      margin-top: 25px;
      text-align: center;
      font-weight: bold;
    }
  }

  &__logo-box {
    max-width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
  }

  img {
    min-width: 100px;
    max-height: 85px;

    &:hover {
      transform: scale(1.2);
      @include transitionProperty;
      filter: grayscale(110);
    }
  }
}
